/** @format */
@import './define.less';

* {
  box-sizing: border-box;
}

.container-body {
  margin: 20px;
  // background-color: white;
}
.flex-between {
  @flex-between();
}
.flex-center {
  @flex-center();
}

.tool-input-w-200 {
  width: 200px !important;
}
.tool-input-w-150 {
  width: 150px !important;
}
.tool-input-w-100 {
  width: 100px !important;
}
.tool-datepacker-w-230 {
  width: 230px !important;
}
