/** @format */
@import './define.less';
@import './flex.less';
@import './short.less';

* {
  box-sizing: border-box;
}

//滚动条样式
::-webkit-scrollbar {
  width: 10px; //纵向宽度
  height: 10px; //横向高度
}

::-webkit-scrollbar-track {
  //底色
  background-color: transparent;
}

::-webkit-scrollbar-corner {
  //角落箭头区域
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  //滚动条颜色
  background-color: #ccc;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ddd;
}

::-webkit-scrollbar-thumb:active {
  background-color: #ccc;
}

.container-wrap {
  width: 100%;
  height: 100%;
  padding: 15px;
  overflow: auto;
  // margin: 20px;
  // background-color: white;
}

//解决弹窗底部按钮不跟随主题颜色变化 
// https://ant-design.antgroup.com/components/modal-cn#modalmethod
.ant-modal {
  .ant-modal-footer {
    .ant-btn {
      border-radius: var(--border-radius);
    }

    .ant-btn-primary {
      background-color: var(--color-primary) px;

      &:hover {
        background-color: var(--color-primary-hover)
      }

      &:active {
        background-color: var(--color-primary-active)
      }
    }

    .ant-btn-default {
      &:hover {
        color: var(--color-primary);
        border-color: var(--color-primary)
      }

      &:active {
        color: var(--color-primary-active);
        border-color: var(--color-primary-active)
      }
    }
  }
}