/** @format */
@import './define.less';

* {
  box-sizing: border-box;
}

//滚动条样式
::-webkit-scrollbar {
  width: 10px; //纵向宽度
  height: 10px; //横向高度
}

::-webkit-scrollbar-track {
  //底色
  background-color: transparent;
}

::-webkit-scrollbar-corner {
  //角落箭头区域
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  //滚动条颜色
  background-color: #ccc;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ddd
}

::-webkit-scrollbar-thumb:active {
  background-color: #ccc
}

.container-body {
  margin: 20px;
  // background-color: white;
}
.flex-between {
  @flex-between();
}
.flex-center {
  @flex-center();
}

.tool-input-w-200 {
  width: 200px !important;
}
.tool-input-w-150 {
  width: 150px !important;
}
.tool-input-w-100 {
  width: 100px !important;
}
.tool-datepacker-w-230 {
  width: 230px !important;
}
