@headerHeight: 64px; //头部栏高度
@bgColor: #f5f5fb; // 背景色
// @menuBgColor: @bgColor; //菜单背景色
@menuBgColor: #304156; //菜单背景色
// @menuBgColor: #ffffff; //菜单背景色
// @flex-center: {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// };