/** @format */

header.header {
  position: sticky;
  top: 0px;
  background-color: var(--color-bg-base);
  display: flex;
  justify-content: space-between;
  height: var(--header-height);
  align-items: center;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;

  .trigger {
    font-size: 18px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: var(--color-primary-text-hover)
    }
  }

  .tag-view {
    flex: 1;
    padding: 10px 16px;
    overflow-x: auto;

    .ant-tabs-nav {
      border: 0;
      margin: 0;
    }

    .ant-tabs-tab {
      background-color: var(--color-primary-bg) !important;
      border-radius: 0px !important;
      border: 0px !important;

      &:hover {
        // background-color: #1890ff;
        color: var(--color-text) !important;
        background-color: var(--color-primary-hover) !important;
      }
    }

    .ant-tabs-tab.ant-tabs-tab-with-remove {
      border: 0;
      border-radius: 0;
      background-color: #eee;
      padding-left: 23px;
      padding-right: 23px;
      transition: font-szie 0.3s;
    }

    .ant-tabs-tab.ant-tabs-tab-with-remove:hover {
      padding-left: 12px;
      padding-right: 10px;

      .ant-tabs-tab-remove {
        margin-left: 4px !important;
      }
    }

    .ant-tabs-tab.ant-tabs-tab-active,
    .ant-tabs-tab.ant-tabs-tab-with-remove.ant-tabs-tab-active {
      // background: #1890ff !important;
      background: var(--color-primary) !important;

      .ant-tabs-tab-btn {
        color: #fff !important;
      }
    }

    .ant-tabs-tab.ant-tabs-tab-with-remove .ant-tabs-tab-remove {
      opacity: 0;
      display: none;
    }

    .ant-tabs-tab.ant-tabs-tab-with-remove:hover .ant-tabs-tab-remove {
      opacity: 1;
      display: inline-block;
    }

    .ant-tabs-tab.ant-tabs-tab-with-remove.ant-tabs-tab-active {
      border-bottom: 0px;
    }

    .ant-tabs-top>.ant-tabs-nav::before {
      border-bottom: 0px;
    }
  }
}

aside.sider {
  // position: fixed;
  height: 100%;
  background: var(--color-menu-bg);
  z-index: 2; // 使侧边栏在头部栏之上 

  .logo {
    height: var(--header-height);
    background: var(--color-menu-bg);
    font-size: 20px;
    font-weight: bold;
    color: var(--color-text);
    white-space: nowrap;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .scroller-menu {
    height: calc(100vh - var(--header-height)) !important;
    background-color: var(--color-menu-bg);
  }

  .menu {
    height: calc(100vh - var(--header-height));
  }




  // .ant-menu {
  //   &.ant-menu-dark {
  //     // 菜单背景颜色
  //     background-color: var(--color-menu-bg) !important;

  //     & .ant-menu-inline.ant-menu-sub {
  //       background-color: var(--color-menu-bg) !important;
  //     }
  //   }
  // }
}

.ant-menu-submenu {
  .ant-menu-submenu-title:hover {
    background-color: var(--color-primary-bg) !important;
    color: var(--color-primary) !important;
  }

  .ant-menu-sub {
    background-color: var(--color-menu-bg) !important;

    .ant-menu-item {
      &:hover {
        background-color: var(--color-primary-bg) !important;
      }

      &.ant-menu-item-selected {
        background-color: var(--color-primary-bg) !important;
        color: var(--color-primary) !important;

        .ant-menu-title-content a {
          color: var(--color-primary) !important;
        }
      }
    }

    .ant-menu-title-content a {
      color: var(--color-text) !important;
    }
  }

}

main.ant-layout-content {
  min-height: calc(100vh - var(--header-height));
  overflow: auto;
}

#toolbar-right {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  // text-align: right;
  height: 100%;
  width: 300px;
  padding: 0 20px 0 0;
  // cursor: pointer;
}