.father {
  width: 800px;
  height: 200px;
  // border: 1px solid #333;
  padding: 20px 0px;
  background-color: rgb(101, 182, 219);
  overflow: hidden;

  .child {
    display: flex;
    margin: 20px -10px;
    background-color: rgb(223, 180, 213);

    &-item {
      width: 20%;
      height: 100px;
      font-size: 20px;
      // border: 30px solid #333;
      margin: 10px;
      background-color: rgb(113, 217, 241);
      flex-grow: 1;
    }
  }
}